<mat-card class="animated fadeIn card-top card-warn">
  <mat-card-content>
    <mat-card-title>
      Gestion des administrateurs

      <button mat-icon-button [matMenuTriggerFor]="menu4" class="float-r">
        <mat-icon>more_vert</mat-icon>
      </button>

      <button mat-icon-button routerLink="/utilisateurs" class="float-r" matTooltip="Gestion des utilisateurs"
        matTooltipPosition="above">
        <mat-icon>swap_horiz</mat-icon>
      </button>

      <mat-menu #menu4="matMenu">
        <button mat-menu-item (click)="openDescriptionDialog()">
          <mat-icon>edit</mat-icon>
          <span>Modifier description</span>
        </button>
        <button mat-menu-item (click)="openLinkDialog()">
          <mat-icon>settings</mat-icon>
          <span>Configurer les liens</span>
        </button>
        <button mat-menu-item routerLink="/administrateurs/importer">
          <mat-icon>file_upload</mat-icon>
          <span>Importer des membres</span>
        </button>
        <button mat-menu-item>
          <mat-icon>file_download</mat-icon>
          <span>Exporter en CSV</span>
        </button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle>BCN!CMC.INFOCENTRE.HERMES.ADMINWTS.UNIV.BCNDOMAIN.delegAdmin</mat-card-subtitle>

    <mat-grid-list cols="4" rowHeight="55px">
      <mat-grid-tile colspan="1">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher sur le nom">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef [style.width.%]="5">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" [style.width.%]="5">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="employer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Société</th>
        <td mat-cell *matCellDef="let row"> {{row.employer}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <a matTooltip="Composer e-mail" matTooltipPosition="above" href="mailto:equipe_hermes@bouygues-construction.com?subject=Demande d accee au groupe : BCN!CMC.INFOCENTRE.HERMES.ADMINWTS.UNIV.BCNDOMAIN.delegAdmin&amp;body=Madame, Monsieur,%0D%0A%0D%0AJe vous prie de me donneer accees au groupe Groupie : BCN!CMC.INFOCENTRE.HERMES.ADMINWTS.UNIV.BCNDOMAIN.delegAdmin%0D%0A%0D%0AEn vous remerciant. %0D%0A%0D%0ACordialement">
            <mat-icon color="primary">mail</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/administrateurs/ajouter">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        Ajouter
      </button>

      <button mat-button (click)="openDeleteDialog()">
        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        Supprimer
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>