.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.example-container {
    height: 400px;
    overflow: auto;
    position: relative;
}
  
table {
    width: 100%;
}

.table-header-cell {
    font-size: 15px;
}

.badge {
    background-color: gray;
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
}

span.invalid {
    color: #dd4b39;
}

.horizontal-radios mat-radio-button {
    margin-right: 15px;
}

.old-user {
    background-color: #efefef;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #efefef;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filename {
    margin-left: 10px;
}