.header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 88%;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);  
}
.header-text{
    position: relative;
    left: 44.38%;
    right: 39.44%;
    top: 39.13%;
    bottom: 41.74%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    
    color: #344750;
}