table {
    width: 100%;
  }

  .selected-item {
    background-color: #efefef;
  }

  .header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 85%;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);  
}
.header-text{
    position: relative;
    left: 41%;
    right: 41%;
    top: 0%;
    bottom: 41.74%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    
    color: #344750;
}
.logo{
  position: relative;
  left: 41%;
  right: 41%;
  top: 20%;
  bottom: 41.74%;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  
  color: #344750;
}
.cart-content{
  position: absolute;
    left: 10%;
    right: 10%;
    top: 15%; 
    bottom: 0%;
}
.block{
  margin: 15px 15px 5px;
}
.rem-button{
  background: #EA8100;
  border: 2px solid #EA8100;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
text-align: center;
text-transform: uppercase; 
}
.mat-card{
  box-shadow:0px 0px 30px rgba(0, 0, 0, 0.15) !important;
}

.mat-card-title{
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 18px;

color: #8B999E;
}
.carto-link{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;

color: #EA8100;
}
.rem-cart-transp{
  box-shadow: inherit !important;
}
.rem-cart-transp .mat-card-content{
  padding: 0px !important;
}
.rem-table-input{
  width: 80%;
}
.second-header-row{ 
  background-color: #efefef;
}