<h2 mat-dialog-title>Configuration des liens</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field>
        <input rows="3" cdkTextareaAutosize matInput placeholder="Groupe utilisateur" />
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>
        Enregistrer
    </button>
</mat-dialog-actions>